img {
  height:auto;
  width: 25vw;
}
.red {
  color: #FF2222;
}
.green{
  color: #22FF22;
}
.white{
  color: #FFFFFF;
}
.black-bg{
  background-color: #333333;
}
.indent{
  margin: 1vh 5vh;
}
.indent p{
  margin: 5px;
}
#commit > div{
  padding-left: 10px;
  border: thick solid #0095DD;
}
#commit > div > div{
  font-size: .75em;
}
